body, html {
margin: 0;
    font-family: 'Lato', sans-serif;

}
* {
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
  }

p{
    word-spacing: 3px;
    font-weight: 300;
    font-size: 1.2rem;
    color: #55555c;
    
}

h1{
  color: #333333;
  letter-spacing: 1px;
  font-weight: 300;
  word-spacing: 2px;
  font-size: 2.3rem;
  margin: 15px 0; 
}
h3{
  color: #77a8a8;
  font-size: 1.4rem; 
  margin: 0; 
}
.topnav {
  
  padding: 10px;
  display: inline-flex;
  width: 100%;
  justify-content: center;
/*      position: absolute;
    top: 0;*/
}

.topnav a {
  color: white;
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 300;
    text-shadow: 0px 2px 4px #000;
  
}

.topnav a:hover {
 text-decoration: underline;
}

.topnav .icon {
  display: none;
}


.home-container {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(image/isa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    clear: both;
   overflow: hidden;
    min-height: 100vh; 
}
.home-text {
  position: relative;
  top: 130px;
text-align: center;
}
.home-text p{
  color: #F6F6F6;
  font-weight: 400;
  font-size: 3em;
  letter-spacing: 2px;
  text-shadow: 0px 2px 4px #000;
}
.about-container {
  display: flex;  
  align-items: center;
  flex-flow: row wrap;
  min-height: 100vh;
  justify-content: space-around;
  background-color: #F6F6F6;
  color: #55555c;
}

.about-text  {
flex-shrink: 1;
flex-basis: 50%;
}
.experience-container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  background-color: #F6F6F6;
}
.education-container{
  flex-shrink: 1;
  flex-basis: 30%;
}
.education-span{
  font-family: 'Dancing Script', cursive;
  font-size: 1.4rem;
}

#skill { 
  list-style: none;
  width: 296px;
  position: relative;
  padding: 30px 0;
}

#skill li { 
  margin-bottom:30px; 
}

#skill li h3 { 
  position:relative; 
  top:-25px;
  font-family: 'Lato', sans-serif;
  color: #55555c;
  font-weight: 300;
  font-size: 1.1rem;
}

.bar { 
  height:10px;  
  position:absolute;   
}

.graphic-design {
  width:90%; 
  -moz-animation:graphic-design 2s ease-out;
  -webkit-animation:graphic-design 2s ease-out;
  background-color: #77a8a8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#77a8a8), to(#77a8a8));
  background-image: -webkit-linear-gradient(top, #77a8a8, #77a8a8);
  background-image: -moz-linear-gradient(top, #77a8a8, #77a8a8);
  background-image: -ms-linear-gradient(top, #77a8a8, #77a8a8);
  background-image: -o-linear-gradient(top, #77a8a8, #77a8a8);
  background-image: linear-gradient(top, #77a8a8, #77a8a8);
}

.html-css {
  width:90%;
  -moz-animation:html-css 2s ease-out;
  -webkit-animation:html-css 2s ease-out;
  background: #d9ecd0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d9ecd0), to(#d9ecd0));
  background-image: -webkit-linear-gradient(top, #d9ecd0, #d9ecd0);
  background-image: -moz-linear-gradient(top, #d9ecd0, #d9ecd0);
  background-image: -ms-linear-gradient(top, #d9ecd0, #d9ecd0);
  background-image: -o-linear-gradient(top, #d9ecd0, #d9ecd0);
  background-image: linear-gradient(top, #d9ecd0, #d9ecd0);
}

.jquery {
  width:65%;
  -moz-animation:jquery 2s ease-out;
  -webkit-animation:jquery 2s ease-out;
  background: #b9b0b0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b9b0b0), to(#b9b0b0));
  background-image: -webkit-linear-gradient(top, #b9b0b0, #b9b0b0);
  background-image: -moz-linear-gradient(top, #b9b0b0, #b9b0b0);
  background-image: -ms-linear-gradient(top, #b9b0b0, #b9b0b0);
  background-image: -o-linear-gradient(top, #b9b0b0, #b9b0b0);
  background-image: linear-gradient(top, #b9b0b0, #b9b0b0);
}

.wordpress {
  width:80%;
  -moz-animation:wordpress 2s ease-out;
  -webkit-animation:wordpress 2s ease-out;
  background: #c5aa97; 
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c5aa97), to(#c5aa97));
  background-image: -webkit-linear-gradient(top, #c5aa97, #c5aa97);
  background-image: -moz-linear-gradient(top, #c5aa97, #c5aa97);
  background-image: -ms-linear-gradient(top, #c5aa97, #c5aa97);
  background-image: -o-linear-gradient(top, #c5aa97, #c5aa97);
  background-image: linear-gradient(top, #c5aa97, #c5aa97)  
}

@-moz-keyframes graphic-design {0%  { width:0px;} 100%{ width:100%;}  }
@-moz-keyframes html-css        { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes jquery      { 0%  { width:0px;} 100%{ width:65%;}  }
@-moz-keyframes wordpress   { 0%  { width:0px;} 100%{ width:80%;}  }

@-webkit-keyframes graphic-design       { 0%  { width:0px;} 100%{ width:100%;}  }
@-webkit-keyframes html-css        { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes jquery      { 0%  { width:0px;} 100%{ width:65%;}  }
@-webkit-keyframes wordpress   { 0%  { width:0px;} 100%{ width:80%;}  }

.contact-container{
  min-height: 100vh;
  display: flex;
     justify-content: center;
 
    text-align: center;
  align-items: center;
  background-image: linear-gradient(rgba(197, 170, 151, 0.5),  rgba(197, 170, 151, 0.5)), url(image/kontakt4.jpg);
      background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.contact-text{
   position: relative;
   top: 70px;
   padding: 15px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (orientation: portrait) {
  .home-container {

    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), url(image/isa-mobil.jpg);
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    clear: both;
   overflow: hidden;
    min-height: 100vh; 
}
.home-text {
  top: 70px;
}

  .about-container {
  padding: 10px;
}
.about-text  {
flex-grow: 1;

}
.topnav {
  overflow: hidden;
display: block;
    top: 0;
    background-color: transparent;
    padding: 0;

}

.topnav a {
  color: #F6F6F6;
  font-family: 'Lato', sans-serif;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  text-shadow: 0px 2px 4px #000;
}


  .topnav a{display: none;}
  .topnav a.icon {
    float: right;
    display: block;
    color: white;
    font-size: 1.5rem;
  }
    .topnav.responsive {
      position: relative;
      background-color: #333333;
    }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    color: white;
    font-weight: 300;
  }
.topnav a:hover {
 text-decoration: none;
}
.home-text p{
  font-size: 1.8em;
}
.education-container{
  flex-grow: 1;
}
.experience-container{
padding: 10px;
}
}

@media only screen and (min-device-width: 765px) and (max-device-width: 1023px) and (orientation: portrait) {
.about-container {
   padding: 20px 0;
  min-height: 0vh;

}
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
.about-container {
  padding: 20px 0;
  min-height: 0vh;
}
.experience-container{
  min-height: 0vh;
  padding: 50px;
}
}
/*p{
    word-spacing: 3px;
    font-weight: 300;
    font-size: 1.2rem;
    color: #55555c;
}

h1{
  color: #333333;
  letter-spacing: 1px;
  font-weight: 300;
  word-spacing: 2px;
  font-size: 2.3rem;
  margin: 15px 0; 
}
h3{
  color: #77a8a8;
  font-size: 1.4rem; 
  margin: 0; 
}
.about-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
   align-items: center;
   min-height: 100vh;
	padding: 0 15px;
  background-color: rgba(197, 170, 151, 0.3);
}

.about-container > div{
  margin: 20px;

}
.about-text{
  max-width: 500px;
}

.topnav p{
  color: white;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 5px;
     text-transform: uppercase;
}

.topnav a:hover { 
    background-color: grey;
}
.icon {
    background-color: transparent;
}
.icon:hover{
    background-color: grey;
     opacity: 0.5;
}

.topnav .icon {
    display: none;
}

.home-container {

    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(image/isa.jpg);

    min-height: 100vh; 

  
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    clear: both;
}
.image-container img{
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: auto;
}



.home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-text p{
  color: white;
  font-weight: 400;
  font-size: 2.5em;
  letter-spacing: 2px;
}

.experience-container{
  min-height: 100vh;
  padding: 15px 15px 50px;
  background-color: #F6F6F6;
}
.experience-container h1{
  margin-bottom: 50px; 
}
.education-container span{
  font-weight:bold;
  font-size: 1.3em;
  font-family: 'Dancing Script', cursive;
}
.chart ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  max-width: 400px;
  height: 200px;
      list-style-type: none;
    margin: 0;
    padding: 0;
}
.chart li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  height: 200px;
}
.chart span {
  display: block;
   margin: 0 0.1em;
}
.chart span:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 5px 0;
  display: block;
  text-align: center;
  content: attr(title);
  word-wrap: break-word;
}
.html{
  background: #c5aa97;
  animation: draw 1s ease-in-out;}

.css{
  background: #b9b0b0;
  animation: draw 1s ease-in-out;}

  .javascript{
  background: #d9ecd0;
  animation: draw 1s ease-in-out;}

  .php{
  background: #77a8a8;
  animation: draw 1s ease-in-out;}

@keyframes draw {
  0% {
    height: 0;
  }
}
.contact-container{
  min-height: 100vh;
  display: flex;
     justify-content: center;
 flex-direction: column;
    text-align: center;
  align-items: center;
  background-image: linear-gradient(rgba(197, 170, 151, 0.5),  rgba(197, 170, 151, 0.5)), url(image/kontakt4.jpg);
      background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact-text{
   position: relative;
   top: 70px;
   padding: 15px;
}

@media screen and (max-width: 900px) {
  .topnav a{display: none;}
  .topnav a.icon {
    position: fixed;
    float: right;
    display: block;
    right: 0;
  }
}


@media screen and (min-width:300px) {
  .topnav.responsive{
    background-color: black;
    position: fixed; 
    width: 100%;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    font-size: 15px;
  }

}
@media screen and (max-width: 700) and (min-width: 1024) {

}

@media screen and (min-width:700px) {

  .home-text {
   font-size: 2.5em;
}


.education-container{
padding: 0 50px;
}
.education-container article{
 max-width: 300px;
}
.contact-container p{
  max-width: 500px;
}

.experience-container{
  display: flex;
  justify-content: center;
    align-items: center;
     padding: 10px;
}
.chart{
  padding: 0 50px;
}

}

.about-container{
display: flex;
align-items: center;
justify-content: center;
}
.about-container > div{
text-align: center;
}
.about-container p{
	text-align: justify;
}

