body, html {
    margin: 0;
    font-family: 'Lato', sans-serif;
}
p{
    word-spacing: 3px;
    font-weight: 300;
    font-size: 1.2rem;
    color: #55555c;
}

h1{
  color: #333333;
  letter-spacing: 2px;
  font-weight: 300;
  word-spacing: 2px;
  font-size: 2.3rem;
  margin: 15px 0; 
}
h3{
  color: #77a8a8;
  font-size: 1.4rem; 
  margin: 0; 
}

.nav {
  height: 50px;
  width: 100%;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  text-align: center;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav{
     position: fixed;
  }
  .nav > .nav-btn {
    display: inline-block;
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 15px;
  }

  .nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 20px;
    height: 5px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
 display: flex;
 justify-content: center;

  }

  .nav > #nav-check:checked + .nav-links {
    height: 40vh;
    overflow: hidden;
  }
}


.home-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(image/isa.jpg);
    min-height: 100vh; 
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    clear: both;
}

.home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-text p{
  color: white;
  font-weight: 400;
  font-size: 2.5em;
  letter-spacing: 2px;
}

.image-container img{
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: auto;
}
.about-container p{
   text-align: justify;
}
.about-container{
  background-color: rgba(197, 170, 151, 0.3);
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
   text-align: justify;
}
.experience-container{
  min-height: 100vh;
  background-color: #F6F6F6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 1em;
}
.education-container span{
  font-weight:bold;
  font-size: 1.3em;
  font-family: 'Dancing Script', cursive;
}
.chart{
margin: 2em 0;
}

.chart ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  max-width: 400px;
  height: 200px;
      list-style-type: none;
    margin: 0;
    padding: 0;
}
.chart li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  height: 200px;
}
.chart span {
  display: block;
   margin: 0 0.1em;
}
.chart span:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 5px 0;
  text-align: center;
  content: attr(title);
  word-wrap: break-word;
}

.html{
  background: #c5aa97;
  animation: draw 1s ease-in-out;}

.css{
  background: #b9b0b0;
  animation: draw 1s ease-in-out;}

  .javascript{
  background: #d9ecd0;
  animation: draw 1s ease-in-out;}

  .php{
  background: #77a8a8;
  animation: draw 1s ease-in-out;}

@keyframes draw {
  0% {
    height: 0;
  }
}


.contact-container{
  min-height: 100vh;
  display: flex;
     justify-content: center;
 flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(197, 170, 151, 0.5),  rgba(197, 170, 151, 0.5)), url(image/kontakt4.jpg);
      background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact-text{
   position: relative;
   top: 70px;
   padding: 15px;
   text-align: center;
}
.contact-text p{

    text-align: center;
}


/*IPAD*/
@media screen and (max-width: 900px) and (min-width: 700px)  {
    .education-container {
  flex-basis:250px;
}
.about-text{
   max-width: 500px;
}
}
/*DESKTOP*/
@media screen and (min-width: 900px)  {
  h1{
  font-size: 2.1rem; 
}
h3{
  font-size: 1.4rem;  
}
  p{
    font-size: 1rem;
}
		.about-container{
		padding: 0;
	}
.about-text{
   max-width: 50%;
}
  .education-container  {
  flex-basis:300px;
}
.contact-container p{
  max-width: 500px;
}
}




