body, html {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;

}
p{
    word-spacing: 3px;
    font-weight: 300;
    font-size: 1.2rem;
    color: #55555c;
    text-align: justify;
}

h1{
  color: #333333;
  letter-spacing: 1px;
  font-weight: 300;
  word-spacing: 2px;
  font-size: 2.3rem;
  margin: 15px 0; 
}
h3{
  color: #77a8a8;
  font-size: 1.4rem; 
  margin: 0; 
}

/* Style the links inside the navigation bar */
.topnav p{
  color: white;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 5px;
     text-transform: uppercase;
}
/* Change the color of links on hover */
.topnav a:hover { 
    background-color: grey;
}
.icon {
    background-color: transparent;
}
.icon:hover{
    background-color: grey;
     opacity: 0.5;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}


.home-container {
    /* The image used */
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(image/isa.jpg);
    /* Full height */
    min-height: 100vh; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    clear: both;
}

.home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-text p{
  color: white;
  font-weight: 400;
  font-size: 2.5em;
  letter-spacing: 2px;
}

.image-container img{
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: auto;
}

.about-container{
  background-color: rgba(197, 170, 151, 0.3);
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}
.about-container > div{
   max-width: 500px;
}





.experience-container{
  min-height: 100vh;
  padding: 0 1em 3em;
  background-color: #F6F6F6;
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.education-container span{
  font-weight:bold;
  font-size: 1.3em;
  font-family: 'Dancing Script', cursive;
}
.education-container article{
 max-width: 300px;
}

.chart ul {
  display: table;
  table-layout: fixed;
  width: 100%;
  max-width: 400px;
  height: 200px;
      list-style-type: none;
    margin: 0;
    padding: 0;
}
.chart li {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  height: 200px;
}
.chart span {
  display: block;
   margin: 0 0.1em;
}
.chart span:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  padding: 5px 0;
  display: block;
  text-align: center;
  content: attr(title);
  word-wrap: break-word;
}

.html{
  background: #c5aa97;
  animation: draw 1s ease-in-out;}

.css{
  background: #b9b0b0;
  animation: draw 1s ease-in-out;}

  .javascript{
  background: #d9ecd0;
  animation: draw 1s ease-in-out;}

  .php{
  background: #77a8a8;
  animation: draw 1s ease-in-out;}

@keyframes draw {
  0% {
    height: 0;
  }
}


.contact-container{
  min-height: 100vh;
  display: flex;
     justify-content: center;
 flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(197, 170, 151, 0.5),  rgba(197, 170, 151, 0.5)), url(image/kontakt4.jpg);
      background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact-text{
   position: relative;
   top: 70px;
   padding: 15px;
   text-align: center;
}
.contact-text p{

    text-align: center;
}


/*IPAD*/
@media screen and (max-width: 900px) and (min-width: 700px)  {
.about-container > div{
max-width: 60%;
margin: 0.4em;
}
.chart{
  padding: 0 0.5em;
}
}
/*DESKTOP*/
@media screen and (min-width: 900px)  {
.about-container > div{
   max-width: 50%;
}
}




